



/* Navigation  */

.nav-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-content ul{
    max-width: 500px;
    display: flex;
    flex-direction: row;
}

.nav-extended{
    background: linear-gradient(135deg, #42448e 0%,#7a7fff 50%,#f4e1c9 100%);
}


/* Main container card */

.main-container{
    margin: 2% !important;
}

.searchBar{
 background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 50px !important;
  width: 40% !important;
  border-bottom: 0px solid #42448ec9 !important;
  margin-top: 1% !important;
}
.searchBar:focus{
    border-bottom: 1px solid #42448ec9 !important;
}

.search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    .search-container{
        flex-direction: column;
    }
  }


/* Tables */

.customer-table-link,.customeraccount-table-link,.account-table-link,.accountcustomer-table-link{
    text-decoration: underline;
    color: #6165cd;
}
.customer-table-link:hover,.customeraccount-table-link:hover,.account-table-link:hover,.accountcustomer-table-link:hover{
    cursor: pointer;
}

.main-add-button{
    margin-right: 2%;
}


/* Add new form Modal  */
.modal-content{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.modal-content h4{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}



/* 404 error page */


.main-404{
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}

.fof-404{
	  display: table-cell;
	  vertical-align: middle;
}

.fof-404 h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}



/* Record detail page */

/* .sub-nav-content{
    padding-top: 3% !important;
}
.sub-nav-content a{
    color: #585bbb !important;
    font-weight: 600;
}
.sub-nav-content .indicator{
    background-color: #585bbb !important;
} */

.related-list-container{
    margin-top: 3%;
}










/*-------------------  Archived CSS ------------------- */



/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Dec-2019, 21:05:06
    Author     : tonyennis
*/

/*Documentation Styling *//*

#doc-content {
    text-align: left;
    padding-left: 2%;
    padding-right: 5%;
}

.row {
    width: 100%;
    padding-left: 2%;
    padding-top: 10px;
/*    border: 1px solid black;*//*
}

.row-bg {
    background-color: lightgrey;
}

.row-head {
    font-weight: bold;
}

.row-body {
    margin-left: 5%;
}

.body-head {
    font-size:0.8em;
    font-weight:bold;
}

.response {
    width: 600px;
    border: 2px solid rosybrown;
    padding: 20px;
    margin-left: 5%;
    margin-bottom: 10px;
}

/*Main page styling*/
/*
body {
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
}

#nav-list {
    padding: 0;
    list-style-type: none;
    display: block;
}
.nav-item {
    list-style-type: none;
    text-decoration: none;
    display: inline;
}
.btn {
    text-decoration: none;
}
.dividor {
    color: darkslategrey;
}
.emphasis {
    font-style: italic;
    font-weight: bold;
}
a {
    text-decoration: none;
    letter-spacing: 0.2em;
}
a:hover {
    color:seagreen;
    text-decoration: underline;
}

*/
/*
#content {
    width: 74%;
    display: inline;
    float:left;
    border: 1px solid black;
}

#customer-form {
    margin-left: 1%;
    width: 24%;
    float: left;
    display: inline;
    border: 1px solid black;
}*/


